<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd64Ya5vsmk_aqwJh3iyM4JqOR5UwIgDc</string>
	<key>GCM_SENDER_ID</key>
	<string>677607548405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.romaingirou</string>
	<key>PROJECT_ID</key>
	<string>gocar-6c342</string>
	<key>STORAGE_BUCKET</key>
	<string>gocar-6c342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677607548405:ios:4c168505e4e80f807dacbc</string>
</dict>
</plist>